body{
  background-image:url('https://dhggywfvre0o8.cloudfront.net/app/uploads/2017/11/22153252/Typeform-Blog-BlackFriday-Cover-AskAwesomely.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
  .round{
    padding-top: 100px;
    margin-left: 570px;
  }
.round img{
  border-radius: 100px;
}
h1{
  font-style: oblique;
  font-family: pacifio;
}

ul{
  list-style-type: none;
  padding:auto ;
  overflow:hidden;
  background-color: #E74C3C transparent;
}
li{
  float: left;
}
li a{
  display:block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}
li a:hover{
  transition: 1s;
  background-color: black  ;
}
